@charset "UTF-8";

@import url('https://fonts.googleapis.com/css2?family=Shippori+Mincho+B1&display=swap');

:root{
    --title-font: "Shippori Mincho B1", serif;
}

*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

body{
    min-height: 100dvh;
}

h1, h2, h3{
    font-family: var(--title-font);
    font-weight: 800;
    text-transform: capitalize;
}

button{
    cursor: pointer;
    background-color: transparent;
    border: none;
    outline: none;
}

.main button{
    padding: .8rem 2rem;

    font-size: 1.2rem;
    text-align: center;
    text-transform: uppercase;

    border: 1px solid;
}

a{
    color: #000;
    text-decoration: none;
}